extends index.pug

append head 
  link(rel="stylesheet", href="/css/dashboard.css")

append dashboard
  nav.sidebar 
    ul
      li
        a(href="./requests") Request list
      li
        a(href="./achievements") Achievement list
      li  
        a(href="./employees") Employee list
      li  
        a(href="./issue-token") Issue token

  h2 Secretary Dashboard
  block content

  